.feature {
  display: flex;
  justify-content: center;

  margin: 5rem 1rem;

  &__left {
    width: 30%;
    text-align: left;
    margin: 5rem 3rem 0 0;

    &--h1 {
      font-size: 5rem;
      font-weight: bold;
      color: #19191b;
    }

    &--h4 {
      font-size: 1.2rem;
      color: #696871;
    }

    &--btn {
      width: 10rem;
      height: 3.5rem;
      font-size: 1.2rem;
      border-radius: 4.5px;

      background-color: #f04037;
      color: white;
      border: solid 1px #c31a12;
      cursor: pointer;
    }
  }

  &__right {
    margin: 5rem 0 0 3rem;
    width: 30%;
    position: relative;

    &--img {
      width: 40rem;
    }

    &--frame {
      position: absolute;
      top: 2%;
      left: 15%;
    }

    &--lower {
      display: flex;
      align-items: center;
      padding: 0 1rem;

      position: absolute;
      top: 60%;
      left: -20%;

      height: 6rem;
      background-color: #fedc5a;
      border-radius: 5px;

      &-bell {
        background-color: #5454d4;
        border-radius: 4rem;
        padding: 5px;
        width: 1rem;
        height: 1rem;
        margin: 0 1rem;
      }

      &-header {
        color: grey;
        display: block;
        font-size: 1rem;
        text-align: left;
      }

      &-content {
        display: block;
        font-size: 1.3rem;
        color: black;
      }
    }
  }
}
