.home {
  display: flex;
  justify-content: center;

  margin-top: 5rem;

  &__left {
    width: 30%;
    text-align: left;
    margin-right: 3rem;

    &--h1 {
      font-size: 5rem;
      font-weight: bold;
      color: #19191b;
    }

    &--h4 {
      font-size: 1.4rem;
      color: #696871;
    }

    &--btn {
      width: 10rem;
      height: 3.5rem;
      font-size: 1.2rem;
      border-radius: 4.5px;

      background-color: #f04037;
      color: white;
      border: solid 1px #c31a12;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background-color: white;
        color: red;
      }
    }

    &--a {
      display: block;
      margin-top: 1rem;

      font-size: 1.3rem;

      span {
        font-size: 1.5rem;
        color: blue;
        margin-right: -3px;
      }
    }
  }

  &__right {
    position: relative;
    margin-left: 3rem;

    width: 30%;

    &--img1 {
      width: 25rem;
    }

    &--upper {
      display: flex;
      align-items: center;
      padding: 0 1rem;

      position: absolute;
      top: 20%;
      left: -10%;

      width: auto;
      height: 4rem;
      background-color: #5454d4;
      border-radius: 5px;

      &-tick {
        background-color: #fedc5a;
        border-radius: 4rem;
        padding: 5px;
        width: 1rem;
        height: 1rem;
        margin: 0 1rem;
      }

      &-content {
        font-size: 1.3rem;
        color: white;
      }
    }

    &--lower {
      display: flex;
      align-items: center;
      padding: 0 1rem;

      position: absolute;
      top: 80%;
      right: -20%;

      height: 4rem;
      background-color: #fedc5a;
      border-radius: 5px;

      &-tick {
        background-color: #5454d4;
        border-radius: 4rem;
        padding: 5px;
        width: 1rem;
        height: 1rem;
        margin: 0 1rem;
      }

      &-content {
        font-size: 1.3rem;
        color: black;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .home {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__left {
      width: 80vw;
      margin-bottom: 3rem;
      text-align: center;
    }

    &__right {
      width: 60%;
    }
  }
}
